@model IEnumerable<Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
<h1>Hello @User.Identity?.Name!</h1>
}

<!-- Start Shop Page  -->
<div class="shop-box-inner">
	<div style="display:flex; flex-direction:row;" class="container">
		<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
			<a style="color:white; margin-bottom:10%; width:70%;" href="/Products/Create" class="btn hvr-hover">Create New Product</a>
			<a style="color:white; margin-bottom:10%; width:70%;" href="/AppRoles/Create" class="btn hvr-hover">Create New Roles</a>
			<a style="color:white; margin-bottom:10%; width:70%;" href="/Orders/Index" class="btn hvr-hover">All The Orders</a>

		</div>
		<div class="row">
			<div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
				<div class="right-product-box">
					<div class="product-item-filter row">
						<div class="col-12 col-sm-8 text-center text-sm-left">
							<p>Showing all @Model.Count() results</p>
						</div>
						<div class="col-12 col-sm-4 text-center text-sm-right">
							<ul class="nav nav-tabs ml-auto">
								<li>
									<a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
								</li>
								<li>
									<a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-categorie-box">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
								<div class="row" id="sorted_products">
									@foreach (var item in Model)
									{
										<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 products">
											<div class="products-single fix">
												<div class="box-img-hover">
													<div class="type-lb">
														<p class="sale">Sale</p>
													</div>
													<img src="@item.ProductPhoto" class="img-fluid" alt="Image">
													<div class="mask-icon">
														<ul>
															<li><a href="/Products/Details/?id=@item.ProductId" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
															<li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
															<li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
														</ul>
														<a class="cart" href="/Products/Details/?id=@item.ProductId">Details</a>
													</div>
												</div>
												<div class="why-text">
													<h4>@item.ProductName</h4>
													<h5>@item.ProductPrice</h5>
												</div>
											</div>
										</div>
									}
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="list-view">

								@foreach (var item in Model)
								{
									<div class="list-view-box">
										<div class="row">
											<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
												<div class="products-single fix">
													<div class="box-img-hover">
														<div class="type-lb">
															<p class="sale">Sale</p>
														</div>
														<img src="@item.ProductPhoto" class="img-fluid" alt="Image">
														<div class="mask-icon">
															<ul>
																<li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
																<li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
																<li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
												<div class="why-text full-width">
													<h4>@item.ProductName</h4>
													<h5> <del>@item.ProductPrice</del></h5>>
													<p>
														@item.ProductDescription
													</p>
													<a class="btn hvr-hover" href="/Cart/AddToCart?productId=@item.ProductId">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
